{:deps {cheshire {:mvn/version "5.10.1"}
        clj-http {:mvn/version "3.12.3"}
        environ {:mvn/version "1.2.0"}
        clj-time {:mvn/version "0.15.2"}
        org.clojure/clojure {:mvn/version "1.10.3"}
        ;; linters
        cljfmt {:mvn/version "RELEASE"}
        clj-kondo/clj-kondo {:mvn/version "RELEASE"}
        jonase/eastwood {:mvn/version "RELEASE"}
        tvaughan/kibit-runner {:mvn/version "RELEASE"}}}
